<% provide(:title, "TOPページ") %>

<header class="img-responsive">
      <h1>- WWRR -</h1>
      <h2>Walking War Robots Ranking</h2>
      <h2>ウォーキング ウォー ロボッツ ランキング</h2>
</header>

<section class="bs-example container">
    <div class="table-responsive"> 
        <table class="table table-inverse">
            <caption>ROBOTS TOP 5</caption>
            <thead>
                <tr>
                    <th width="20%">機体名</th>
                    <th>HP最大</th>
                    <th>SP最大</th>
                    <th>スロット</th>
                    <th>能力</th>
                    <th>評価</th>
                </tr>
            </thead>
            <tbody>
            　　<% @robots.each do |robot|%>
            　　<tr>
                    <td style="background-image: url(/images/robots/t<%= robot.id %>.png);background-repeat: no-repeat;">
                      <%= link_to robot.name, robot_path(robot.id) %><br>
                      <%= robot.namejp %>
                    </td>
                    <td><%= number_with_delimiter(robot.hp_max) %></td>
                    <td><%= number_with_delimiter(robot.speed_max) %> km</td>
                    <td><%= robot.slot %></td>
                    <td><%= robot.ability %></td>
                    <td><%= robot.rating.round(2) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
	</div>
    <small>
        <p class="anotasion">* 「 HP最大 」は最大までロボットを強化した時の HP( ヒットポイント ) の値</p>
        <p class="anotasion">* 「 SP最大 」は最大までロボットを強化した時の SP( スピード ) の値</p>
        <p class="anotasion">* 小数点以下2桁までは四捨五入</p>
        <p class="anotasion">* 評価は10点満点</p>
    </small>
    <p class="detail text-center"><%= link_to "すべての ROBOTS を見る", robots_path %></p>
</section>

<hr class="container">

<section class="bs-example container">
    <div class="table-responsive"> 
        <table class="table table-inverse">
            <caption>WEAPONS TOP 5</caption>
            <thead>
                <tr>
                    <th width="20%">武器名</th>
                    <th>クラス</th>
                    <th>ダメージ最大</th>
                    <th>サイクルDPS最大</th>
                    <th>評価</th>
                </tr>
            </thead>
            <tbody>
            　　<% @weapons.each do |weapon|%>
            　　<tr>
                    <td style="background-image: url(/images/weapons/t<%= weapon.id %>.png);background-repeat: no-repeat;">
                      <%= link_to weapon.name, weapon_path(weapon.id) %><br>
                      <%= weapon.namejp %>
                    </td>
                    <td><%= weapon.weapon_class %></td>
                    <td><%= number_with_delimiter(weapon.damage_max) %></td>
                    <td><%= number_with_delimiter(weapon.cycle_dps_max.round(2)) %></td>
                    <td><%= weapon.rating.round(2) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <small>
        <p class="anotasion text-left">* 「 サイクルDPS 」は武器を全段撃ちつくし、そのリロードが完了する間にかかる時間を、与えるダメージで乗算した値</p>
        <p class="anotasion text-left">* 「 ダメージ最大 」は最大まで武器を強化した時の値</p>
        <p class="anotasion text-left">* 「 サイクルDPS最大 」は最大まで武器を強化した時の値</p>
        <p class="anotasion text-left">* 小数点以下2桁までは四捨五入</p>
        <p class="anotasion text-left">* 評価は10点満点</p>
    </small>
    <p class="detail text-center"><%= link_to "すべての WEAPONS を見る", weapons_path %></p>
</section>
