<% provide(:title, "TOPページ") %>

<header class="img-responsive">
      <h1>- WWRR -</h1>
      <h2>Walking War Robots Ranking</h2>
      <h2>ウォーキング ウォー ロボッツ ランキング</h2>
</header>

<section class="bs-example container">
    <div class="table-responsive"> 
        <table class="table table-inverse">
            <caption>ROBOTS TOP 3</caption>
            <thead>
                <tr>
                    <th width="20%">機体名</th>
                    <th>HP最大</th>
                    <th>SP最大</th>
                    <th>スロット</th>
                    <th>能力</th>
                    <th>評価</th>
                </tr>
            </thead>
            <tbody>
            　　<% @robots.each do |robot|%>
            　　<tr>
                    <td style="background-image: url(/images/robots/t<%= robot.id %>.png);background-repeat: no-repeat;">
                      <%= link_to robot.name, robot_path(robot.id) %><br>
                      <%= robot.namejp %>
                    </td>
                    <td><%= number_with_delimiter(robot.hp_max) %></td>
                    <td><%= number_with_delimiter(robot.speed_max) %>km</td>
                    <td><%= robot.slot %></td>
                    <td><%= robot.ability %></td>
                    <td><%= robot.rating %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <p class="detail text-center"><%= link_to "すべての ROBOTS を見る", robots_path %></p>
</section>

<hr class="container">

<section class="bs-example container">
    <div class="table-responsive"> 
        <table class="table table-inverse">
            <caption>WEAPONS TOP 3</caption>
            <thead>
                <tr>
                    <th width="20%">武器名</th>
                    <th>クラス</th>
                    <th>ダメージ最大</th>
                    <th>サイクルDPS最大</th>
                    <th>評価</th>
                </tr>
            </thead>
            <tbody>
            　　<% @weapons.each do |weapon|%>
            　　<tr>
                    <td style="background-image: url(/images/weapons/t<%= weapon.id %>.png);background-repeat: no-repeat;">
                      <%= link_to weapon.name, robot_path(weapon.id) %><br>
                      <%= weapon.namejp %>
                    </td>
                    <td><%= weapon.weapon_class %></td>
                    <td><%= weapon.damage_max %></td>
                    <td><%= weapon.cycle_dps_max %></td>
                    <td><%= weapon.rating %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <p class="detail text-center"><%= link_to "すべての WEAPONS を見る", weapons_path %></p>
</section>
